* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  width: 100%;  
  background: #fff4c5;
  padding: 25px;
  margin: 0px;
}

#datasheet td input{
  width: 80px;
}

.delete_btn{
  border: 1px solid white;
  border-radius: 2px;
  cursor: pointer;
  padding: 4px;
  background: rgb(189, 0, 0);
  color: white;
}
.delete_btn:hover{
  background: transparent;
  color: rgb(189, 0, 0);
}

.add_btn{
  padding: 4px;
  background: #0ba400;
  border: 1px solid white;
  color: white;
  cursor: pointer;
}

.add_btn:hover{
  background: transparent;
  color: #0ba400;
}

#datasheet th{
  padding: 0px 2px;
  background: #dbb300;
  color: black;
}